.dynamic-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

::ng-deep {
    .mat-form-field {
        width: 40%;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
         padding: 12px; 
    }
    
    .mat-form-field-infix {
        display: block;
        position: relative;
        flex: auto;
    }
}
