<div [formGroup]="group">
  <mat-toolbar *ngIf="config.name === 'payment'">
    <span>Payment Amount</span>
  </mat-toolbar>
  <span class="ml-8">{{config.label }}
    <mat-form-field class="mt-2 ml-2">
      <mat-label> {{ config.label }}</mat-label>
      <mat-select [formControlName]="config.name!" [compareWith]="compareFn">
        <mat-option *ngFor="let option of config.options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-error>
        <div *ngFor="let err of config.errors">
          <p>{{err[config.name]}}</p>
        </div>
      </mat-error>
    </mat-form-field>
  </span>
</div>